.calcBackground{
    position: absolute;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 100%;
    border-radius: 50%;
    /* animation: pulse .5s infinite; */
    /* background-color: rgb(196, 51, 196); */

}

.partyCalcBackground{
    /* position: absolute; */
    /* z-index: -1; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
    height: 600px;
    width: 100%;
    border-radius: 50%;
    animation: pulse 2s infinite;
    background-color:rgb(255, 51, 248);
    box-shadow: 0 0 15pt 1pt rgb(255, 51, 248);
}


@keyframes pulse {
	0% {
		transform: scale(0.05);
		box-shadow: 0 0 15pt 15pt rgba(255, 6, 234, 0.975);
	}
	25% {
        transform: scale(1);
        border-radius: 10%;
        transform: rotate(45deg);

		box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
    }
    50% {
		transform: scale(0.05);
		box-shadow: 0 0 15pt 15pt rgba(255, 6, 234, 0.975);
	}
	75% {
        transform: scale(1);
        border-radius: 10%;
        transform: rotate(-45deg);

		box-shadow: 0 0 0 50px rgba(0, 0, 0, 0);
    }100% {
		transform: scale(0.05);
		box-shadow: 0 0 15pt 15pt rgba(255, 6, 234, 0.975);
	}
}





.calcDiv{
    display: block;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    height: 350px;
    width: 350px;
    box-shadow: 0 0 0pt 2pt black;
}

.calcScreen{
    display: block;
    margin: auto;
    height: 45px;
    width: 300px;
}

.calcText{
    /* color: rgb(8, 186, 8); */
    background-color: rgb(8, 186, 8);
    box-shadow: 0 0 4pt 1pt rgb(8, 186, 8);
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    text-align: center;
    height: 45px;
    width: 300px;
    margin-left: -5px;

}

.centeredText{
    text-align: center;
    padding-right: 10px;
}

.calcBtn{
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    background: rgb(138, 130, 132);
    border-radius: 5px;
    width: 60px;
}
.calcBtn:hover{
    background: chartreuse;
    box-shadow: 0 0 15pt 1pt chartreuse;

}
.equalsbtn{
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    background:rgb(210, 151, 24);
    border-radius: 5px;
    width: 60px;
}   
.equalsbtn:hover{
    background:rgb(255, 185, 35);
    box-shadow: 0 0 15pt 1pt rgb(255, 185, 35);
}

.clearbtn{
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    background: rgb(216, 43, 78);
    border-radius: 5px;
    width: 60px;
}
.clearbtn:hover{
    background: rgb(255, 37, 81);
    box-shadow: 0 0 15pt 1pt rgb(255, 37, 81);
}

.party{
    font-family: 'Orbitron', sans-serif;
    /* font-size: x-small; */
    background: rgb(216, 43, 210);
    border-radius: 5px;
    width: 60px; 
}

.party:hover{
    background: rgb(255, 51, 248);
    box-shadow: 0 0 15pt 1pt rgb(255, 51, 248);
}

.hiddenInput{
    color: rgb(8, 186, 8);
    background-color: rgb(8, 186, 8);
    box-shadow: 0 0 4pt 1pt rgb(8, 186, 8);
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    text-align: center;
    height: 45px;
    width: 300px;    
}

